{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Marque 42 {% endblock %}

{% block content%}
<h1>Mon compte</h1>

    Bienvenue {{( app.user.nom)}} dans votre compte.<br/>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
{#{{ dump(app.user.nom) }}#}
{% endblock %}
