{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - My Dress {% endblock %}

{% block content%}
    <h1 class="mb-auto">Modifier mon mot de passe </h1>

    <a href="{{ path('account') }}">Retouner à mon compte </a><br/>

    {% if notification %}
    <div class="alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
{% endblock %}
