{% extends 'base.html.twig' %}


{% block carousel %}{% endblock %}

{% block content %}

    <!-- Three columns of text below the carousel -->

    <h3 class="text-center text-uppercase font-weight-bold text-secondary ">Nos meilleurs ventes</h3>
    <p class="text-center text-secondary">Découvrez les articles les plus vendus.</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'produit/single_produit.html.twig' %}
            </div>
        {% endfor %}
    </div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading text-center">42 <br/> <span class="text-success"> ON N'A PAS CHOISI D’ÊTRE STEPHANOIS, ON A JUSTE EU DE LA CHANCE...</span></h2>
            <p class="lead">

                Grâce à sa médaille plus petite et son Cordon vieux rose plus fin, habillé plus discrètement votre poignet aux couleurs de notre région. </p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/image/bracelet-42-petite-medaille-vieux-rose.jpg') }}" class="img-fluid"
                 alt="Petite Médaille Vieux Rose savoir faire Made in Loire">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Sac Gym <br/><br/> <span class="text-danger"> Nouveau produit<br/><br/></span>
            </h2>
            <p class="lead">Sac de gym Licorne en coton</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/image/sac-marine-pomme-de-pin.jpg') }}" class="img-fluid"
                 alt="Sac de gym">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading ">Pack Bébé Stéphanoise <br/></br/><span class="text-danger"> Nouveau produit <br/><br/></span></h2>
            <p class="lead">Que ce soit pour vous ou pour offrir, notre pack est l'essentiel pour les bébés au quotidien.

                Il contient un body et 2 bavoirs.

                Avec notre slogan c'est le cadeau de naissance clin d'oeil idéal.</p>
        </div>
        <div class="col-md-5">

                <img src="{{ asset('assets/image/pack-bebe-stephanoise.jpg') }}" class="img-fluid"
                     alt="pack bébé Stéphanoise">

        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


{% endblock %}
