{% extends 'base.html.twig' %}

{% block title %}Page Introuvable  - La Boutique La Marque 42{% endblock %}

{% block content %}
    <div class="block-small">
  <h2>Page Introuvable </h2>
        <p>Désolé, cette page ne semble pas être accessible pour le moment.</p>
        <a href="{{ path('home') }}" class="btn btn-secondary">Revenir à l'accueil</a>
    </div>
{% endblock %}
